<ion-view view-title="Follow Up">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Name</div>
      <div class="item item-body">
        <input type="text", placeholder="first name male" ng-model="app.person.firstnamemale"/>
        <input type="text", placeholder="last name male" ng-model="app.person.lastnamemale"/>
        <input type="text", placeholder="first name female" ng-model="app.person.firstnamefemale"/>
        <input type="text", placeholder="last name female" ng-model="app.person.lastnamefemale"/>
        <label for="birthday">birthday</label>
        <input type="date", placeholder="birthday" ng-model="app.person.birthday"/>
        <input type="text", placeholder="age" ng-model="app.person.age"/>

        <label class="item item-input">
          <span class="input-label">Telephone</span>
          <input type="tel">
      </label>

        <!-- save button-->
        <input type="button" value="save" ng-click="app.addPerson(app.person)"/>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Address</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Phone Number</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
